
/*
 *********************************************************
 *
 *  NAV BAR
 *
 *********************************************************
*/

/*
 * this eliminates the spacing between the bottom of the nav bar and the top of the sections
 */

.custom-main-header-bar{
	margin-bottom:0px;
}

/*
 * this is used to help center the menues and the search in the nav bar
 */

.custom-main-nav-bar{
	padding:5% 0;
}
.custom-nav-search-bar{
	padding:5% 0;
}

/* 
 * this is to be used for the image used in the nav bar on top of the page 
 *
 * */

.user-image-thumbnail-wrapper{
	height:70px;
	width:70px;
	margin-top:10px;
	overflow:hidden;
	float:right;
	clear:both;
}

.user-image-thumbnail{
	width:inherit;
}

.user-name-nav{
	float:right;
	clear:both;
	margin:5px auto;
	margin-bottom:0px;
}
.user-title-nav{
	float:right;
	clear:both;
	margin:5px auto;
}

/*
 * the css for the header container, the colors and the gradiant
 */
.custom-main-header-bar{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
	padding-top:15px;
}

/*
 *  connected logo styling
 */
.connected-logo{
	width: 65%;
	margin-top: 10px;
	margin-left: 2%;
}

/*
 *  publication drop down menu styling
 */
.publication-dropdown-menu{
	width:500px;
	padding: 0px 10px;
	border: 5px solid rgba(184, 80, 16, 0.9);

}

.publication-dropdown-item{
	border-top:0px;
	border-bottom:1px;
	border-left:0px;
	border-right:0px;
	border-style:dashed;
	border-color:gray;
}

.publication-dropdown-item > h4 > a {
	color:black;
	font-size:14px;
} 

.publication-dropdown-item:last-child{
	border-bottom:0px;
}

.custom-main-nav-bar > li > a:hover, .custom-main-nav-bar > li > a:focus, .custom-main-nav-bar > li > a:active{
	background-color:rgba(184, 80, 16, 0.9) !important;
	color:white;
	border-top:2px;
	border-color:white;
}

.custom-main-nav-bar-hover > a{
	background-color:rgba(184, 80, 16, 0.9) !important;
	color:white;
	border-top:2px;
	border-color:white;
}

/*
 *********************************************************
 *
 *  FILTER COLUMN
 *
 *********************************************************
*/


/*
 * this is for changing the size of the filter column lists
 */
.filter-column-groups{
	padding:0px;
}
.filter-column-groups a{
	background-color:transparent;
	border:none;
	padding: 5px 2px;
}

.filter-column-item-active{
	color: #555;
	text-decoration: none;
	background-color: #f5f5f5;
}

/* depricated
 *
 *.list-group-item > .badge {
 *	margin-left:5px;
 *}
 */

.list-group-item > span {
	color:rgb(158,158,158);
}

.list-group {
	margin-bottom:0px;
}

/*
 *********************************************************
 *
 *  PUBLICATION ITEM
 *
 *********************************************************
*/

/*
 * publication item styling
 */

.tag-link-list{
	list-style-type:none;
	padding:0px 5px;
	float:left;	
}
.tag-link-list li{
	display:inline;
}
#publication-column > .panel-body{
	padding:5px 0px;
}
.publication-info {
	float:right;
}
.publication-title {
	clear:both;
}
.publication-image {
	overflow:hidden;
}

.publication-author {
	display:inline;
}


/* this is only temporary and will need to be changed later */
.publication-image img{
	width:100%;
}


/* 
 * stylings for the publication share bar
 */

.publication-share-bar{
	height:48px;
	margin-right:10px;
	visibility:hidden;
}

.publication-item:hover > .publication-share-bar{
	visibility:visible;
}


.publication-share-bar > div{
	display:inline;
}

.publication-dog-ear{
	border-bottom:30px solid;
	border-right:30px solid transparent;	
}

.publication-dog-ear-favorited{
	border-bottom:30px solid;
	border-color: rgba(184, 80, 16, 0.9);
	border-right:30px solid transparent;
}

.publication-end-note-add, .publication-share-link{
	margin:3% 10px;	
}


.publication-end-note-add a:hover, .publication-share-link a:hover{
	text-decoration:none;
}

.publication-end-note-add{
	float:right;
}

.publication-share-link{
	float:right;
}

.publication-item-v:hover{

	background: -moz-linear-gradient(top,  rgba(0,0,0,0.07) 0%, rgba(0,0,0,0) 3%, rgba(0,0,0,0) 97%, rgba(0,0,0,0.07) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.07)), color-stop(3%,rgba(0,0,0,0)), color-stop(97%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.07))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12000000', endColorstr='#12000000',GradientType=0 ); /* IE6-9 */

	
}

.publication-item:hover{

	background: -moz-linear-gradient(left,  rgba(0,0,0,0.07) 0%, rgba(0,0,0,0) 3%, rgba(0,0,0,0) 97%, rgba(0,0,0,0.07) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.07)), color-stop(3%,rgba(0,0,0,0)), color-stop(97%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.07))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12000000', endColorstr='#12000000',GradientType=1 ); /* IE6-9 */

}

.publication-info-wrapper{
	padding-top:10px;
	padding-right:10px;
	padding-left:10px;
}


/*
 * stying for the share drop down menu 
 */
.share-check-menu{
	text-align:center;
}

.share-check-line{

}

.share-check-input{

}

.share-check-button{

}

/*
 * citation dropdown styling
 */
.citation-dropdown{
	left: -100px;
	width: 400px;
}

/*
 *********************************************************
 *
 *   RESEARCH EVENTS AND DEADLINES COLUMN
 *
 *********************************************************
*/

/*
 * stylings for the Reseach Events and Deadlines (RED)
 */
.RED-month{

}
.RED-month-title{
	margin-bottom:0px;
}
.RED-month-row{

}
.RED-event-date{
	padding-right:0px;
}
.RED-event-name{
	margin:10px 0;
}
.RED-month-away{
	margin:10px 0;
}


/*
 *********************************************************
 *
 *  LOGIN PAGE
 *
 *********************************************************
*/

/*
 * the css for the login page
 */
.login-head-space{
	margin-top:75px;
}
.login-user { /* Text that reads "You are not logged in" */
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}
.login-welcome { /* Text for description of web application */
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 200px;
    margin-left: 10px;
}
/*
 *********************************************************
 *
 *  PUBLICATION ITEM
 *
 *********************************************************
*/


#participation-column{
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-radius:0px;
}

.participation-item > .item-seperator-bar{
	margin: 20px 0px;
}



/*
 *********************************************************
 *
 *  MISC
 *
 *********************************************************
*/


/*
 * removing the border around the panels
 */
.panel-default{
	border: none;
}

/*
 * removing the box shodow from the panels
 */
.panel{
	webkit-box-shadow: none;
	box-shadow:none;
}
/*
 * adding back the border for the RED 
 */
#events-deadlines-column {
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-radius:0px;
}

/* this is the styling for the publication seperator bar */
.item-seperator-bar {
	margin:0px 0px;
	border-top:1px solid #ddd;
}



/*
 *********************************************************
 *
 *   FUNDING ITEM
 *
 *********************************************************
*/

#funding-column > .panel-body {
    padding: 5px 0px;
}

/*
 *styling for funding.tpl.html
 */
.funding-item-v:hover{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.07) 0%, rgba(0,0,0,0) 3%, rgba(0,0,0,0) 97%, rgba(0,0,0,0.07) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.07)), color-stop(3%,rgba(0,0,0,0)), color-stop(97%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.07))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12000000', endColorstr='#12000000',GradientType=0 ); /* IE6-9 */
}

.funding-item:hover{
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.07) 0%, rgba(0,0,0,0) 3%, rgba(0,0,0,0) 97%, rgba(0,0,0,0.07) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.07)), color-stop(3%,rgba(0,0,0,0)), color-stop(97%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.07))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.07) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12000000', endColorstr='#12000000',GradientType=1 ); /* IE6-9 */
}

.funding-info-wrapper{
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.funding-title {
	clear: both;
}

/*dog ear styling*/
.funding-dog-ear {
	border-bottom: 30px solid;
	border-right: 30px solid transparent;	
}

.funding-dog-ear-favorited {
	border-bottom: 30px solid;
	border-color: rgba(184, 80, 16, 0.9);
	border-right: 30px solid transparent;
}

/*style for favorite button*/
.funding-deadline-link {
	margin: 3% 10px;
    float: left;
}

.funding-deadline-link a:hover {
	text-decoration: none;
}

/*styling for funding share bar*/
.funding-share-bar {
	height: 48px;
	margin-right: 10px;
	visibility: hidden;
}

.funding-item:hover > .funding-share-bar {
	visibility: visible;
}

.funding-share-bar > div {
	display: inline;
}

.funding-share-link {
	margin: 3% 10px;
    float: right;
}

.funding-share-link a:hover {
	text-decoration: none;
}

.share-fund-menu > input {
    margin: 0em 2em;
}

.share-fund-menu {
    width: auto;
}

.share-fund-list {
    padding: 5px;
    overflow-x: auto;
    overflow-y: auto;
}

.share-fund-menu li {
    text-align: left;
    padding-left: 10px;
}

.custom-fund-button {
    text-align: center;
}

.funding-separation-bar {
	margin: 0px 0px;
	border-top: 1px solid #ddd;
}

/*
 *********************************************************
 *
 *   FUNDING DEADLINES COLUMN
 *
 *********************************************************
*/

/*styling for funding deadlines column*/
.funding-month {

}
.funding-month-title {
	margin-bottom: 0px;
}
.funding-month-row {

}
.funding-event-date {
	padding-right: 0px;
}
.funding-event-name {
	margin: 10px 0;
}
.funding-month-away {
	margin: 10px 0;
}
