
/*
 * this eliminates the spacing between the bottom of the nav bar and the top of the sections
 */

.custom-main-header-bar{
	margin-bottom:0px;
}

/*
 * this is used to help center the menues and the search in the nav bar
 */

.custom-main-nav-bar{
	padding:5% 0;
}
.custom-nav-search-bar{
	padding:5% 0;
}

/* 
 * this is to be used for the image used in the nav bar on top of the page 
 *
 * */

.user-image-thumbnail-wrapper{
	height:70px;
	width:70px;
	margin-top:10px;
	overflow:hidden;
	float:right;
	clear:both;
}

.user-image-thumbnail{
	width:inherit;
}

.user-name-nav{
	float:right;
	clear:both;
	margin:5px auto;
	margin-bottom:0px;
}
.user-title-nav{
	float:right;
	clear:both;
	margin:5px auto;
}

/*
 * this is for changing the size of the filter column lists
 */
.filter-column-groups{
	padding:0px;
}
.filter-column-groups a{
	background-color:transparent;
	border:none;
	padding: 5px 2px;
}

.list-group-item > .badge {
	margin-left:5px;
}

.list-group {
	margin-bottom:0px;
}

/*
 * publication item styling
 */

.publication-item > .tag-link-list{
	list-style-type:none;
	padding:0px 5px;
	float:left;	
}
.publication-item > .tag-link-list li{
	display:inline;
}
#publication-column > .panel-body{
	padding:5px 0px;
}
.publication-item > .publication-info {
	float:right;
}
.publication-item > .publication-title {
	clear:both;
}
.publication-item > .publication-image {
	overflow:hidden;
}

.publication-author {
	display:inline;
}


/* this is only temporary and will need to be changed later */
.publication-item > .publication-image img{
	width:100%;
}


/*
 * stylings for the Reseach Events and Deadlines (RED)
 */
.RED-month{

}
.RED-month-title{
	margin-bottom:0px;
}
.RED-month-row{

}
.RED-event-date{
	padding-right:0px;
}
.RED-event-name{
	margin:10px 0;
}
.RED-month-away{
	margin:10px 0;
}

/*
 * the css for the login page
 */
.login-head-space{
	margin-top:75px;
}
