<!DOCTYPE html>
<html lang="en" ng-app="publication">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/custom.css" />
		<script type="text/javascript" src = "js/angular.min.js"></script>
		<script type="text/javascript" src = "js/app.js"></script>
	</head>
	<body>
		<header class="container navbar custom-main-header-bar"ng-controller="NavbarController as navbarCtrl">
			<user-nav-bar></user-nav-bar>
		</header>
		<div id="main-content" class="container" ng-controller="PublicationController as publicationCtrl">
			<div class="row">
				<div id="filter-column" class="col-xs-2 panel panel-default text-right " >
					<filter ng-repeat="filter in publicationCtrl.filter" ></filter>
				</div>
				<div id="publication-column" class="col-xs-5 panel panel-default ">
					<h4 class="panel-header">Publications</h4>
					<div class="panel-body">
						<publication-item ng-repeat="pubItem in publicationCtrl.publicationItems"></publication-item>
					</div>	
				</div>
				<div class="col-xs-5">
					<div class="row">
						<div id="participation-column" class="col-xs-6 panel panel-default ">
							<h4 class="panel-header">Calls for Participation</h4>
							<div class="panel-body">
								<participation-item ng-repeat="parItem in publicationCtrl.participationItems"></participation-item>
							
							</div>
						</div>	
						<div id="events-deadlines-column" class="col-xs-6 panel panel-default ">
							<h4 class="panel-header">Research Events and Deadlines</h4>
							<div class="panel-body">
								<research-events-and-deadlines ng-repeat="REDMonth in publicationCtrl.researchEventsDeadlines"></research-events-and-deadlines> 
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>	
		
	</body>
</html>
