<!DOCTYPE html>
<html lang="en" ng-app="publication">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/custom.css" />
		<script type="text/javascript" src = "js/angular.min.js"></script>
		<script type="text/javascript" src = "js/app.js"></script>
	</head>
	<body>
		<header class="container navbar custom-main-header-bar">
			<div class="row">
				<div class="col-xs-2 text-right">
					<div class="user-image-thumbnail-wrapper img-circle text-right">
						<img src="./img/professor_farnsworth_image.png" class="user-image-thumbnail" />
					</div>
					<h5 class="user-name-nav">Hubert Farnsworth</h5>
					<h6 class="user-title-nav">Research Scientist</h6>
				</div>
				<div class="col-xs-4">
					<h1>Connected to Research</h1>
				</div>
				<div class="col-xs-6">
					<ul class="nav navbar-nav custom-main-nav-bar">
						<li><a href="#">Publications</a></li>
						<li><a href="#">People</a></li>
						<li><a href="#">Funding</a></li>
					</ul>
					<form class="navbar-form navbar-left custom-nav-search-bar">
						<input type="text" class="form-control col-xs-8" placeholder = "Search" />
					</form>
				</div>
			</div>
		</header>
		<div id="main-content" class="container" ng-controller="PublicationController as publicationCtrl">
			<div class="row">
				<div id="filter-column" class="col-xs-2 panel panel-default text-right " >
					<filter ng-repeat="filter in publicationCtrl.filter" ></filter>
				</div>
				<div id="publication-column" class="col-xs-5 panel panel-default ">
					<h4 class="panel-header">Publications</h4>
					<div class="panel-body">
						<publication-item ng-repeat="pubItem in publicationCtrl.publicationItems"></publication-item>
					</div>	
				</div>
				<div class="col-xs-5">
					<div class="row">
						<div id="participation-column" class="col-xs-6 panel panel-default ">
							<h4 class="panel-header">Calls for Participation</h4>
							<div class="panel-body">
								<participation-item ng-repeat="parItem in publicationCtrl.participationItems"></participation-item>
							
							</div>
						</div>	
						<div id="events-deadlines-column" class="col-xs-6 panel panel-default ">
							<h4 class="panel-header">Research Events and Deadlines</h4>
							<div class="panel-body">
								<div class="RED-month">
									<h4 class="RED-month-title ">September</h4>
									<small class="RED-month-away ">1 month away</small>
									
									<div class="row RED-month-row">
										<h4 class="RED-event-date col-xs-2 text-right">2</h4>
										<div class="RED-event-name col-xs-10">Company Meeting</div>
									</div>

									<div class="row RED-month-row">
										<h4 class="RED-event-date col-xs-2 text-right">9</h4>
										<div class="RED-event-name col-xs-10">Company Meeting</div>
									</div>

									<div class="row RED-month-row">
										<h4 class="RED-event-date col-xs-2 text-right">15</h4>
										<div class="RED-event-name col-xs-10">Company Picnic</div>
									</div>
								</div>	
								<div class="RED-month">
									<h4 class="RED-month-title ">October</h4>
									<small class="RED-month-away ">2 month away</small>
									
									<div class="row RED-month-row">
										<h4 class="RED-event-date col-xs-2 text-right">2</h4>
										<div class="RED-event-name col-xs-10">Company Meeting</div>
									</div>

									<div class="row RED-month-row">
										<h4 class="RED-event-date col-xs-2 text-right">9</h4>
										<div class="RED-event-name col-xs-10">Company Meeting</div>
									</div>

									<div class="row RED-month-row">
										<h4 class="RED-event-date col-xs-2 text-right">30</h4>
										<div class="RED-event-name col-xs-10">Company Picnic</div>
									</div>
								</div>
								<div class="RED-month">
									<h4 class="RED-month-title ">November</h4>
									<small class="RED-month-away ">3 month away</small>
									
									<div class="row RED-month-row">
										<h4 class="RED-event-date col-xs-2 text-right">5</h4>
										<div class="RED-event-name col-xs-10">Company Meeting</div>
									</div>

									<div class="row RED-month-row">
										<h4 class="RED-event-date col-xs-2 text-right">19</h4>
										<div class="RED-event-name col-xs-10">Company Meeting</div>
									</div>

									<div class="row RED-month-row">
										<h4 class="RED-event-date col-xs-2 text-right">25</h4>
										<div class="RED-event-name col-xs-10">Company Picnic</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>	
		
	</body>
</html>
