<div class="funding-month">
	<h4 class="funding-month-title ">{{FundMonth.month}}</h4>
	<small class="funding-month-away ">Months away: {{FundMonth.monthAway}}</small>
	<div class="row funding-month-row" ng-repeat="event in FundMonth.events" >
		<h4 class="funding-opp-date col-xs-2 text-right">{{event.date}}</h4>
		<div class="funding-opp-name col-xs-10">
			<span type="button" class="glyphicon glyphicon-minus-sign funding-opp-delete" ng-click="removeFundingDeadline(event.id)"></span>
			{{event.event}}
		</div>
	</div>
</div>
