<!--funding item template-->
<div class="funding-item-v">
    <div class="funding-item">
        <div class="funding-info-wrapper">
            <h3 class="funding-title">{{fundItem.title}}</h3>
            <div class="funding-agency">
                <p>Agency: {{fundItem.agency}}</p>
            </div>
            <div class="funding-post-date">
                <p>Post Date: {{fundItem.postDate}}</p>
            </div>
            <div class="funding-due-date">
                <p>Due Date: {{fundItem.dueDate}}</p>
            </div>
            <div class="funding-descript">
                <p>{{fundItem.description}}</p>
            </div>
            <div class="funding-source">
                <p>Source: <a href="{{fundItem.url}}">{{fundItem.source}}</a></p>
            </div>
        </div>
        
        <!--favorite, deadline adding and share features below-->
        <div class="funding-share-bar">
<!--            <div ng-class="{true:'funding-dog-ear-favorited', false:'funding-dog-ear'}[ favoritedCheck(fundItem.id,fundingCtrl.favoritedFundings)]" ng-click="favoriteFunding(fundItem.id)"></div>-->
            
            <!--deadline adding-->
            <div class="funding-deadline-link">
                <button type="button" class="glyphicon glyphicon-plus-sign" ng-click="addFundingDeadline(fundItem.id)"></button>
            </div>
            
            <!--sharing funding opportunity-->
            <div class="funding-share-link dropdown" ng-class="{open : shareMenuEx}">
                <a href="" ng-click="shareMenuEx = !shareMenuEx">
                    <span class="glyphicon glyphicon-share"></span>Share
                </a>
                <ul class="dropdown-menu share-fund-menu" role="menu">
                    <input type="text" ng-model="searchBox">
                    <div class="share-fund-list">
                        <li ng-repeat="fundingShareUser in fundingCtrl.fundingShareUsers | filter: searchBox | limitTo: quantity">
                            <input type="checkbox" class="share-fund-input" ng-model="fundingCtrl.selectedUsers[fundingShareUser]"> {{fundingShareUser}}
                        </li>
                    </div>
                    <div class="custom-fund-button">
                        <button class="btn btn-primary" ng-click='shareMenuEx = false; shareWithUsers(fundingCtrl.selectedUsers, fundItem.id);'>Share</button>
                    </div>
                </ul>
            </div>
            
        </div>
    </div>
</div>
<div class="funding-separation-bar"></div>
