<div class="publication-item-v">
<div class="publication-item">
	<div class="publication-info-wrapper">
		<ul class="tag-link-list"><li ng-repeat="tag in pubItem.tagList"><a>{{tag}},</a></li></ul>
		<div class="publication-info">{{pubItem.publication}}</div>
		<h3 class="publication-title">{{pubItem.title}}</h3>
		<div class="publication-user-intrest">
			{{pubItem.userInterest}} people like this	
		</div>
		<div class="publication-authors">
			<strong> 
				<div class="publication-author" ng-repeat="author in pubItem.authors">
					{{author}}
				</div>
			</strong>
		</div>
		<div class="publication-abstract">
			<p>
				{{pubItem.abstract}}
			</p>
		</div>
		<div class="publication-image">
			<img ng-src="{{pubItem.imageSrc}}" />
		</div>
	</div>
	<div class="publication-share-bar">
		<div class="publication-dog-ear" ng-click="favoriteArticle(pubItem.articleID)"></div>
		<div class="publication-share-link dropdown" ng-class="{open : shareMenuEx}">
			<a href="" ng-click="shareMenuEx = !shareMenuEx" >
				<span class="glyphicon glyphicon-share"></span>Share
			</a>
			<ul class="dropdown-menu share-check-menu" role="menu">
				<li ng-repeat="otherUser in publicationCtrl.otherUsers" class = "share-check-line">
					<input type="checkbox" class="share-check-input" ng-model="publicationCtrl.selectedUsers[otherUser]" > {{otherUser}} </input>
				</li>
				<button class="btn btn-primary" ng-click='shareMenuEx = false; shareWithUsers(publicationCtrl.selectedUsers, pubItem.articleID);'>Share</button>
			</ul>
		
		</div>
		<div class="publication-end-note-add dropdown" ng-class="{open : citationDropDown}">
			<a href="" ng-click="getCitation(pubItem.articleID); citationDropDown = !citationDropDown;" >
				<span class="glyphicon glyphicon-plus-sign"></span> Cite Article
			</a>
			<div class="dropdown-menu citation-dropdown" role="menu">
				{{citationData.mla_journ}}
				<br>
				<a href="scripts/create_endnote.php?enw={{citationData.enw}}" target="_blank">Save to Endnote</a>
			</div>
		
		
		</div>
	</div>
</div>
</div>
<div class="item-seperator-bar"></div>
